* {
    /* background-color: rgb(226, 226, 226); */
    border: 0;
    margin: 2px;
    font-family: "DM Sans", serif;
}

body {
    background-color: #f4f3ff;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}

.title {
    font-size: 25px;
    font-weight: 600;
    color: #333;
}

.btn {
    display: flex;
    align-items: center;
    gap: 15px;
}

.btn_emitir_relatorio {
    color: #333;
    padding: 8px 16px;
    border: 1px solid #333;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: all 0.3s;
}

.btn_emitir_relatorio:hover {
    background-color: #9194de91;
    border-color: #333;
    color: #333;
}

.btn_sino img,
.btn_user img {
    width: 24px;
    height: 24px;
    display: block;
    background-color: #f4f3ff;
}



