* {
    /* background-color: rgb(226, 226, 226); */
    border: 0;
    margin: 0;
    font-family: "DM Sans", serif;
    color: #333;
}

body {
    background-color: #f4f3ff;
}

/* CABEÇALHO */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    /* border: 5px solid red; */
}

.title {
    font-size: 25px;
    font-weight: 600;
    color: #333;
}

.btn {
    display: flex;
    align-items: center;
    gap: 15px;
}

.btn_sino {
    color: #333;
    padding: 8px 16px;
    border: 1px solid #919191;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
    transition: all 0.3s;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    font-weight: 800;
    background-image: none;
}

.btn_sino:hover {
    background-color: #9193DE;
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(124, 122, 184, 0.4);
    font-weight: 800;
}

.btn_sino img,
.btn_user img {
    width: 24px;
    height: 24px;
    display: block;
    background-color: none;
}

.btn span {
    font-size: 20px;
}

.metricas {
    margin: 4px;
}

/* METRICAS */
.container {
    padding: 20px;
}

.top-cards {
    display: flex;
    gap: 20px;
}

.card {
    background: #fff;
    width: 41vh;
    height: 110px;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #ddd;
    position: relative;
    box-shadow: 0 4px 12px rgba(124, 122, 184, 0.4);
}

.card .titulo {
    font-weight: 600;
    font-size: 22px;
}

.card .valor {
    font-size: 34px;
    margin-top: 8px;
    font-weight: 500;
}

.card .sub {
    font-size: 20px;
    color: #777;
}

.card .icone {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 24px;
    color: #a00;
}

.conteudo {
    display: flex;
    margin-top: 25px;
    gap: 20px;
}

.compras-card {
    width: 40vw;
    background: #fff;
    border-radius: 10px;
    padding: 15px;
    margin-top: -250px;
    border: 1px solid #ddd;
    height: 65vh;
    box-shadow: 0 4px 12px rgba(124, 122, 184, 0.4);
}

.compras-card h3 {
    margin-bottom: 10px;
    font-size: 25px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    text-align: left;
    font-size: 20px;
    border-bottom: 1px solid #eee;
    padding: 8px 0;
}

td {
    font-size: 18px;
    padding: 8px 0;
    border-bottom: 1px solid #f1f1f1;
}

button {
    background: #f2f2f2;
    border: 1px solid #ccc;
    padding: 4px 10px;
    border-radius: 6px;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 4px 12px rgba(124, 122, 184, 0.4);
}

button:hover {
    background: #eaeaea;
}

.grafico-card {
    width: 112vh;
    background: #fff;
    border-radius: 10px;
    border: 1px solid #ddd;
    padding: 15px;
    box-shadow: 0 4px 12px rgba(124, 122, 184, 0.4);
}

.slack {
    width: 25%;
    background: #fff;
    border-radius: 10px;
    border: 1px solid #ddd;
    padding: 15px;
    box-shadow: 0 4px 12px rgba(124, 122, 184, 0.4);
}

.grafico-card-bar {
    width: 25%;
    background: #fff;
    border-radius: 10px;
    border: 1px solid #ddd;
    padding: 15px;
    box-shadow: 0 4px 12px rgba(124, 122, 184, 0.4);
}

.log {
    width: 25%;
    background: #fff;
    border-radius: 10px;
    border: 1px solid #ddd;
    padding: 15px;
    box-shadow: 0 4px 12px rgba(124, 122, 184, 0.4); 
}

.apexcharts-menu-item.exportSVG {
    display: none !important;
}