* {
    /* background-color: rgb(226, 226, 226); */
    border: 0;
    margin: 0;
    font-family: "DM Sans", serif;
    color: #333;
}

body {
    background-color: #f4f3ff;
}

:root {
    --azul: #302961;
    --azul-escuro: #040332;
    --azul-claro: #695DD7;
    --roxo-claro: #9594D8;
    --amarelo: #D5C284;
    --vermelho: #CD8A8F;
    --cyan: #9DC9CB;
    --cinza-escuro: rgb(113, 113, 113);
    --cinza-claro: rgb(225, 225, 225);
}

/* CABEÇALHO */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    /* border: 5px solid red; */
}

.title {
    font-size: 25px;
    font-weight: 600;
    color: #333;
}

.btn {
    display: flex;
    align-items: center;
    gap: 15px;
}

.btn_sino {
    color: #333;
    padding: 8px 16px;
    border: 1px solid #919191;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
    transition: all 0.3s;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    font-weight: 800;
    background-image: none;
}

.btn_sino:hover {
    background-color: #9193DE;
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(124, 122, 184, 0.4);
    font-weight: 800;
}

.btn_sino.ativo {
    background-color: #9193DE;
    transform: scale(0.95);
}

.btn_sino img,
.btn_user img {
    width: 24px;
    height: 24px;
    display: block;
    background-image: none;
}

.btn span {
    font-size: 25px;
}

.metricas {
    margin: 4px;
}

/* LISTA USUARIOS */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.5%;
}

.p_descricao {
    margin-bottom: 30px;
    font-size: 20px;
}
.span_descricao{
    color: var(--azul-claro);
    font-style: italic;
    transition: 0.2s;
}
.span_descricao:hover{
    font-weight: 600;
    cursor: pointer;
}

.div-pesquisar {
    font-weight: 500;
    width: 75vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 18px;
    margin-bottom: 30px;
}

.div-pesquisar input {
    padding: 10px;
    border: 2px solid var(--azul-escuro);
    border-radius: 8px;
    height: 20px;
    width: 55vw;
}

.div-pesquisar button {
    color: white;
    font-weight: 800;
    font-size: 18px;
    background-color: var(--roxo-claro);
    height: 40px;
    width: 10%;
    border-radius: 10px;
    transition: 0.3s;
}

.div-pesquisar button:hover {
    background-color: var(--azul-claro);
}

.div-lista-usuarios {
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 30px;
    width: 75vw;
    align-items: center;
}

.div-usuario {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    width: 100%;
    height: 40px;
    border-top: solid 1.5px var(--azul);
}
#span_totalEncontrado{
    font-weight: 700;
    margin-bottom: 20px;
    margin-left: -90%;

}

.div-usuario-head {
    color: var(--azul-claro);
    font-weight: 800;
    font-size: 18px;
}

.div-icon {
    display: flex;
    justify-content: space-around;
    width: 10%;
    border-left: solid 1.5px var(--azul);
}

img{
    width: 25px;
    transition: 0.2s;
}
.img-editar:hover{
    cursor: pointer;
    width: 30px;
}
.img-deletar:hover{
    cursor: pointer;
    width: 30px;
}