* {
    /* background-color: rgb(226, 226, 226); */
    border: 0;
    margin: 0;
    font-family: "DM Sans", serif;
    overflow: hidden;
}

body {
    background: #f4f3ff;
}

html {
    scroll-behavior: smooth;
    height: 100%;
}

:root {
    --azul: #302961;
    --azul-escuro: #040332;
    --azul-claro: #695DD7;
    --roxo-claro: #9594D8;
    --amarelo: #D5C284;
    --vermelho: #CD8A8F;
    --cyan: #9DC9CB;
    --cinza-escuro: rgb(113, 113, 113);
    --cinza-claro: rgb(225, 225, 225);
}

/* Cabeçalho */
.title {
    font-size: 25px;
    font-weight: 600;
    color: #333;
}

.header {
    position: fixed;
    display: flex;
    justify-content: flex-end;
    padding: 6px 12px;
    width: 94%;
    align-items: center;
}

.header span {
  color: #333;
}

.btn {
    display: flex;
    align-items: center;
    gap: 15px;
}

.btn_sino {
    color: #333;
    padding: 8px 16px;
    border: 1px solid #919191;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
    transition: all 0.3s;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    font-weight: 800;
    background-image: none;
    width: 60px;
    display: flex;
}

.btn_sino:hover {
    background-color: #9193DE;
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(124, 122, 184, 0.4);
    font-weight: 800;
}

.btn_sino.ativo {
    background-color: #9193DE;
    transform: scale(0.95);
}

.btn_sino img,
.btn_user img {
    width: 24px;
    height: 24px;
    display: block;
    background-image: none;
}

.btn span {
    font-size: 25px;
}

/* CONTEUDO PRINCIPAL */
main {
    display: flex;
}

.div-menu-editar {
    display: flex;
    flex-direction: column;
    padding-top: 10%;
    padding-left: 20px;
    width: 15%;
    height: 100vh;
    border-right: 1px solid var(--cinza-escuro);
}

.div-menu-editar div {
    margin: 15px;
    display: flex;
}

.div-menu-editar span {
    color: var(--cinza-escuro);
    font-size: 20px;
    margin-left: 15px;
    font-weight: 600;
    transition: 0.2s;
}

.div-menu-editar span:hover {
    font-weight: 900;
    color: #040332;
}

/* conteudo EDIÇÃO */
.div-content {
    margin-top: 60px;
    width: 100%;
    right: 30%;
    padding: 20px;
}
.div-content h1{
    margin-left: 50px;
}

.div-editar-informacoes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    margin-right: 7%;
    margin-left: 3%;
    margin-top: 2%;
    height: 65%;
    border: 1px solid var(--cinza-escuro);
    border-radius: 10px;
}

.div-editar-informacoes h2 {
    margin-bottom: 20px;
}

.div-formulario {
    display: flex;
    flex-direction: column;
    padding: 25px;
}

.div-editar-informacoes span {
    margin-top: 30px;
    font-weight: 600;
    font-size: 18px;
}

.div-editar-informacoes input {
    height: 40px;
    width: 60vw;
    font-size: 16px;
    background-color: #f4f3ff;
    border: 2px solid var(--cinza-escuro);
    border-radius: 10px;
    padding-left: 20px;
}
.div-btn{
    display: flex;
}
button {
    width: 120px;
    height: 40px;
    border-radius: 10px;
    transition: 0.2s;
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 18px;
}

.btn-salvar {
    color: white;
    background-color: var(--azul-claro);
}

.btn-salvar:hover {
    background-color: var(--roxo-claro);
}

.btn-cancelar {
    background-color: rgb(205, 205, 205);
    border: 1px solid rgb(205, 205, 205);
}

.btn-cancelar:hover {
    background-color: rgb(229, 228, 228);
    ;
}