* {
    /* background-color: rgb(226, 226, 226); */
    border: 0;
    margin: 0;
    font-family: "DM Sans", serif;
}

body {
    background-color: #f4f3ff;
}

html {
    scroll-behavior: smooth;
}

:root {
    --azul: #302961;
    --azul-escuro: #040332;
    --azul-claro: #695DD7;
    --roxo-claro: #9594D8;
    --amarelo: #D5C284;
    --vermelho: #CD8A8F;
    --cyan: #9DC9CB;
    --cinza-escuro: rgb(74, 73, 73);
    --cinza-claro: rgb(225, 225, 225);
}

@media only screen and (min-width: 1000px) {
    h1 {
        font-size: 3vw;
    }
}

/* ========================= Nav Bar ========================= */
.nav-bar {
    position: fixed;
    z-index: 1000;
    width: 100vw;
    background-color: white;
    border-bottom: solid 2px var(--azul-claro);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
}
.div-logo{
    display: flex;
    align-items: center;
}
.nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 35px;
    padding: 0;
    margin: 0;
    margin-right: 10%;
}

.nav-menus {
    margin-right: 2%;
}

.nav-list li a {
    display: none;
    color: rgb(107, 107, 107);
    text-decoration: none;
    transition: 0.4s;
    font-size: 16px;
}

.nav-list li a:hover {
    color: var(--azul-claro);
    font-weight: 900;
    background-color: var(--cinza-claro);
    border-radius: 5px;
    padding: 4px;
}

.menu-selecionado {
    border-bottom: solid 4px var(--azul-claro);
}

.nav-list div li a {
    background-color: var(--azul-claro);
    color: white;
    border-radius: 5px;
    padding: 6px;
    transition: 0.4s;
}

.nav-list div li a:hover {
    background-color: var(--roxo-claro);
    color: white;
    font-weight: 400;
}

.nav-bar i {
    margin: 15px;
    margin-right: 45px;
    font-size: 30px;
    border: 1px solid rgb(71, 71, 71);
    border-radius: 5px;
    margin-bottom: 20px;
    transition: 0.3s;
}

.nav-bar i:hover {
    cursor: pointer;
    background-color: var(--azul-claro);
    color: white;
}

.btn-entrar {
    display: flex;
    align-items: center;
    transition: 0.3s;
}

.btn-entrar:hover {
    color: var(--azul-claro);
    font-weight: 700;
    border-radius: 10px;
    background-color: var(--cinza-claro);
}

.btn-entrar a {
    color: rgb(107, 107, 107);
    text-decoration: none;
    transition: 0.4s;
    font-size: 16px;
    padding: 5px;
}


.btn-entrar img {
    margin: 8px;
    height: 18px;
}

@media only screen and (min-width: 800px) {
    .nav-bar {
        padding-left: 5%;
    }

    .nav-bar i {
        display: none;
    }

    .nav-list li a {
        display: block;
    }

    .btn-entrar {
        display: none;
    }
}

/*========================= Menu lateral =========================*/
.menu-lateral {
    display: none;
    display: flex;
    flex-direction: column;
    align-items: end;
    background-color: white;
    border-left: solid 2px var(--azul-claro);
    position: fixed;
    top: 50px;
    right: 0;
    height: 100%;
    z-index: 1000;
}

.lista-lateral {
    display: flex;
    flex-direction: column;
    padding: 0;
}

.menu-lateral-selecionado {
    background-color: var(--cinza-claro);
    color: white;
    font-weight: 600;
}

.lista-lateral a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    margin: 1px;
    color: rgb(107, 107, 107);
    text-decoration: none;
    transition: 0.4s;
    font-size: 18px;
}

.lista-lateral a:hover {
    background-color: var(--azul-claro);
    color: white;
    font-weight: 600;
}


@media only screen and (min-width: 700px) {

    .menu-lateral {
        display: none;
    }

    .menu-lateral i {
        display: none;
    }

}

/*========================= BANNER INICIAL =========================*/
.banner-inicial {
    display: flex;
    justify-content: space-between;
    padding: 10%;
    padding-bottom: 15%;
    padding-top: 15%;
    color: white;
    background-color: var(--azul);
    margin-bottom: 10px;
    display: flex;
}


.banner-inicial img {
    display: none;
    height: 35%;
    width: 35%;
}


.banner-inicial h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

.banner-inicial #texto-banner-inicial{
    font-size: 16px;
}

.banner-inicial button {
    color: white;
    margin-top: 15px;
    background-color: var(--azul-claro);

    height: 40px;
    border-radius: 8px;
    border: 2px solid var(--azul-claro);
    transition: 0.3s;
}

@media only screen and (min-width: 900px) {
    .banner-inicial {
        padding-bottom: 100px;
    }

    .banner-inicial div {
        width: 40%;
    }

    .banner-inicial h1 {
        font-size: 60px;
        margin-bottom: 10px;
    }

    .banner-inicial span {
        font-size: 12px;
    }

    .banner-inicial img {
        display: block;
    }
}


.banner-inicial button:hover {
    background-color: #7065d540;
}

/*========================= FUNCIONALIDADES =========================*/
.titulo-azul {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    color: var(--azul-claro);
    font-weight: 700;
}

.cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    height: 50%;
    margin: 60px;
    padding: 19px;
    border-radius: 20px;
    border: 1px solid black;
}

.cards h3 {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.cards span {
    color: var(--cinza-escuro);
}

.cards button {
    color: white;
    font-weight: 700;
    margin-top: 15px;
    width: 50%;
    height: 40px;
    background-color: var(--roxo-claro);
    border-radius: 10px;
    transition: 0.3s;
}

.cards button:hover {
    background-color: #695DD7;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -35px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.extracao {
    background-color: var(--amarelo);
}

.analise {
    background-color: var(--azul-claro);
}

.alerta {
    background-color: var(--vermelho);
}

.visualizar {
    background-color: var(--cyan);
}


@media only screen and (min-width: 1000px) {
    .div-funcionalidades {
        display: flex;
        justify-content: center;
        padding: 60px;
    }

    .cards {
        font-size: 18px;
        margin: 10px;
        width: 17vw;
        height: 45vh;
    }

    .cards h3 {
        font-size: 22px;
        text-align: left;
    }
}

/*========================= Voce sabia =========================*/
.div-voceSabia img {
    width: 40%;
}

.div-voceSabia-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.div-voceSabia-content span {
    font-size: 2vh;
}

.btn-saiba-mais {
    width: 30%;
}

@media only screen and (min-width: 1000px) {
    .div-voceSabia {
        padding: 7%;
        justify-content: space-evenly;
    }

    .div-voceSabia-content span {
        font-size: 3vh;
    }

    .btn-saiba-mais {
        font-size: large;
    }
}

/*========================= Relatos =========================*/
.relatos-card {
    margin: 20px;
    margin-top: 100px;
    margin-bottom: 35px;
    padding: 20px;
    text-align: center;
    font-size: 16px;
    background-color: white;
    color: var(--cinza-escuro);
    border-radius: 16px;
}

.relatos-card h4 {
    margin-top: 12px;
    margin-bottom: 2px;
    font-weight: 900;
    font-size: 18px;
}

.relatos-card span {
    font-weight: 900;
    color: rgb(108, 108, 108);
}

.relatos-card img {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: -80px;
    margin-bottom: 20px;
}

/*========================= FAQ =========================*/
.faq {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px;
    background-color: white;
}

#h1_faq {
    margin-bottom: 20px;
}

.caixa-pergunta {
    margin-top: 10px;
    padding: 10px;
    width: 70vw;
    height: 60px;
    border-radius: 10px;
    border: 1px solid rgb(96, 95, 95);
}

.faq-pergunta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.faq-resposta {
    display: none;
    text-align: justify;
    padding: 10px;
}

.faq-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--azul-escuro);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    transition: 0.3s;
}

.faq-arrow:hover {
    background-color: var(--azul-claro);
}

@media only screen and (min-width: 1000px) {
    .caixa-pergunta {
        width: 40vw;
    }
}

/*========================= Rodapé =========================*/
footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background-color: var(--azul-escuro);
    color: white;
}

/*========================= SWIPER =========================*/
.swiper {
    width: 80%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}