* {
    /* background-color: rgb(226, 226, 226); */
    border: 0;
    margin: 0;
    font-family: "DM Sans", serif;
    overflow: hidden;
}

body {
    background: #302961;
    background: linear-gradient(131deg, rgba(48, 41, 97, 1) 13%, rgba(149, 148, 216, 1) 100%);
    height: 100%;
}

@media only screen and (min-width: 1000px) {
    body {
        display: flex;
        justify-content: space-between;
    }
}

html {
    scroll-behavior: smooth;
    height: 100%;
}

:root {
    --azul: #302961;
    --azul-escuro: #040332;
    --azul-claro: #695DD7;
    --roxo-claro: #9594D8;
    --amarelo: #D5C284;
    --vermelho: #CD8A8F;
    --cyan: #9DC9CB;
    --cinza-escuro: rgb(74, 73, 73);
    --cinza-claro: rgb(225, 225, 225);
}

i {
    font-size: 40px;
    margin: 25px;
    position: absolute;
    transition: 0.3s;
}

i:hover {
    cursor: pointer;
    background-color: var(--roxo-claro);
    border-radius: 10px;
    padding: 2px;
}

/* ============== LOGO ============== */
.div-titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    margin-top: 50px;
}

.div-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

/* ============== FORMULARIO ============== */
.div-formulario {
    background-color: white;
    margin-top: 20px;
    height: 100vh;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

.div-formulario h1 {
    margin: 20px;
    color: var(--azul-claro);
    font-weight: 900;
    font-size: 40px;
}

.div-input {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.div-input h3 {
    margin-top: 20px;
    color: var(--azul-claro);
}

.div-input-empresa {
    display: flex;
}

.div-input-empresa div {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    width: 100%;
}

.div-input span {
    margin-top: 20px;
    font-size: 13px;
}

#div_mensagem-erro {
    display: flex;
    justify-content: center;
}

#div_mensagem-erro p {
    display: none;
    margin-top: 10px;
    color: rgb(215, 3, 3);
}

@media only screen and (min-width: 1000px) {
    .div-titulo {
        margin-left: 10%;
        margin-top: 7%;
        font-size: larger;
        width: 35%;
    }

    .div-titulo h1 {
        margin: 20px;
    }

    .div-titulo span {
        margin-bottom: 20px;
    }

    .div-titulo p {
        margin-top: 20px;
        text-align: center;
        font-size: 16px;
    }

    .div-logo {
        font-size: 35px;
    }

    .div-formulario {
        width: 40%;
        margin-top: 0;
        border-top-right-radius: 0;
        border-top-left-radius: 100px;
    }

    .div-formulario h1 {
        font-size: 50px;
        margin: 60px;
    }
}

input {
    height: 50px;
    font-size: 12px;
    background-color: var(--cinza-claro);
    border-radius: 10px;
    padding-left: 20px;
}

input:hover {
    border: solid 0.5px var(--azul-claro);
}

/* ============== BOTOES ============== */
button {
    width: 100%;
    margin-top: 20px;
    font-size: 16px;
    font-weight: bold;
    height: 50px;
    border-radius: 10px;
    transition: 0.2s;
}

.btn-entrar {
    margin-top: 40px;
    background-color: var(--azul-claro);
    color: white;
}

.btn-entrar:hover {
    background-color: var(--roxo-claro);
    cursor: pointer;
}

.btn-criar-conta {
    background-color: transparent;
    border: solid 2px var(--azul-claro);
    color: var(--azul-claro);
}

.btn-criar-conta:hover {
    background-color: #eaeafa;
}

/* ============== TEXTO REDIRECIONAMENTO ============== */
.div-redirecionar {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

.div-redirecionar span {
    margin: 0;
    margin-left: 4px;
    color: var(--azul-claro);
    font-weight: bolder;
    text-decoration: underline;
    transition: 0.3s;
}

.div-redirecionar span:hover {
    cursor: pointer;
    font-size: 13px;
    font-weight: 900;
}