* {
    /* background-color: rgb(226, 226, 226); */
    border: 0;
    margin: 0;
    font-family: "DM Sans", serif;
    color: #333;
}

body {
    background-color: #f4f3ff;
    overflow-y: hidden;
}

/* CABEÇALHO */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    /* border: 5px solid red; */
}

.title {
    font-size: 25px;
    font-weight: 600;
    color: #333;
}

.btn {
    display: flex;
    align-items: center;
    gap: 15px;
    width: 450px;
}

.btn_sino {
    color: #333;
    padding: 8px 16px;
    border: 1px solid #919191;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
    transition: all 0.3s;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    font-weight: 800;
    background-image: none;
}

.btn_sino:hover {
    background-color: #9193DE;
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(124, 122, 184, 0.4);
    font-weight: 800;
}

.btn_sino.ativo {
    background-color: #9193DE;
    transform: scale(0.95);
}

.btn_sino img,
.btn_user img {
    width: 24px;
    height: 24px;
    display: block;
    background-image: none;
}

.btn span {
    font-size: 25px;
}

.metricas {
    margin: 4px;
}

/* KPIs */

.containers {
    /* border: 1px solid blue; */
    display: flex;
    justify-content: space-around;
    height: 8rem;
    margin: 10px;
}

.containers .KPI {
    align-items: left;
    border: 2px solid #ddd;
    border-radius: 10px;
    width: 23%;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.containers .KPI .title-KPI {
    font-size: 22px;
    margin: 5px;
    font-weight: bold;
    color: #333;
    padding-left: 8px;
}

.containers .valor {
    display: flex;
    text-align: left;
    justify-content: space-around;
}

.valor .image img {
    width: 50px;
    height: 50px;
}

.containers .KPI .valor-KPI {
    font-size: 26px;
    margin: 2px;
    font-weight: bold;
    width: 70%;
    color: #333;
}

.containers img {
    width: 40%;
    height: 40%;
}

.containers .KPI .legenda-KPI {
    font-size: 20px;
    margin: 2px;
    font-weight: bold;
    color: #7e7979;
    padding-left: 8px;
}

/* GRAFICOS */

.containers2 {
    /* border: 1px solid blue; */
    display: flex;
    justify-content: space-around;
    height: 21rem;
    margin: 10px;
}

.grafico1 {
    border: 2px solid #ddd;
    border-radius: 10px;
    width: 48%;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.grafico1 span {
    font-size: 22px;
    font-weight: bold;
    margin: 10px;
}

.grafico-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    padding: 0 5px;
}

.titulo-legenda {
    display: flex;
    align-items: center;
    gap: 20px;
}

.grafico-titulo {
    font-size: 15px;
    font-weight: 600;
    color: #333;
}

.legenda {
    display: flex;
    align-items: center;
    gap: 8px;
}

.legenda-ponto {
    width: 10px;
    height: 10px;
    background-color: #655ADF;
    border-radius: 50%;
}

.legenda-texto {
    font-size: 13px;
    color: #333;
}

.grafico2 {
    border: 2px solid #ddd;
    border-radius: 10px;
    width: 48%;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.grafico2 span {
    font-size: 22px;
    font-weight: bold;
    margin: 10px;
    width: 20rem;
}

.filtros {
    display: flex;
    justify-content: end;
    margin-top: 5px;
    gap: 10px;
    width: 100%;
}

.mes-select,
.ano-select1 {
    width: 25%;
    height: 15%;
    padding: 6px 12px;
    border: 1px solid #ddd;
    border-radius: 6px;
    background-color: white;
    color: #666;
    font-size: 20px;
    cursor: pointer;
    outline: none;
    appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12'%3E%3Cpath fill='%23666' d='M6 9L1 4h10z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 8px center;
    padding-right: 30px;
}

.containers3 {
    /* border: 1px solid blue; */
    display: flex;
    justify-content: space-around;
    height: 21rem;
}

.grafico3 {
    border: 2px solid #ddd;
    border-radius: 10px;
    width: 30.5%;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.grafico3 span {
    font-size: 22px;
    font-weight: bold;
    color: #333;
}

.grafico4 {
    border: 2px solid #ddd;
    border-radius: 10px;
    width: 63%;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.grafico-header-lucros {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
    padding: 0 5px;
    margin: 10px;
}

.titulo-info {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.grafico-titulo {
    font-size: 25px;
    font-weight: 700;
    color: #333;
    margin: 0;
    padding: 0;
}

.grafico-subtitulo {
    font-size: 18px;
    color: #999;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

.grafico4 span {
    font-size: 22px;
    font-weight: bold;
    margin: 10px;
    color: #333;
}

.apexcharts-menu-item.exportSVG {
    display: none !important;
}